
//	IMPORTING 

// STYLUS/stylus
//    styl/
//		variables.styl

@import 'styl/variables.styl' 
// especifica-se o caminho para o arquivo que contém as variaveis
@import 'styl/mixins.styl'
// especifica-se o caminho do arquivo de mixins

//@import 'styl/*'
// importa tudo

body
	color blue
	border-radius()