
add(a,b, c = 10)
	// criação de função
	a + b + c
	//retorna a soma dos 3 valores

marg(mTB mRL)
	return mTB mRL

body
	color add(1px, 2, 3)
	// sera atribuido o valor da soma tendo a 1° unidade da medida como prioridade
	margin marg(10px, 10px)	
